
.navbar {
    display: flex;
    justify-content: center;
    padding: 16px;
    background-color:var(--secondary-bg-color); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    font-size: 38px;
    font-weight: bold;
    color: #372414;
    text-shadow: #775a42 2px 2px 4px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.nav-menu li a { color: #372414; text-decoration: none; }

.nav-menu hr {
    border: none;
    height: 3px;
    width: 80%;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    border: 2px solid #877259;
    border-radius: 75px;
    color: #372414;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ecdfce;
}

.cart-wrapper { position: relative; }

.nav-cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    background: red;
    color: white;
}


.mobile-menu-icon, .nav-menu-mobile {
    display: none;
}

.sidebar-close{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 10002;
}

.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    z-index: 10000;
}

@media (max-width: 850px) {
    .nav-menu, .desktop-login {
        display: none !important; 
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .nav-logo{
        flex: 1;
    }

    .nav-logo p { font-size: 22px; }

    .nav-login-cart{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .mobile-menu-icon {
        display: block;
        cursor: pointer;
        order: 2; 
        margin-left: 10px;
    }

    
    .nav-menu-mobile {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%; 
        left: auto;
        width: 280px;
        height: 100vh;
        background-color: var(--secondary-bg-color);
        box-shadow: -10px 0 30px rgba(0,0,0,0.1);
        transition: 0.4s ease-in-out;
        z-index: 10001;
        flex-direction: column;
        padding: 100px 40px;
    }

    .nav-menu-mobile.active {
        right: 0; 
    }

    .cart-wrapper{
        order: 1;
    }

    .menu-overlay{
        left: 0;
        right: 0;
    }

    .nav-links-mobile {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .nav-links-mobile a {
        text-decoration: none;
        color: #372414;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .nav-links-mobile hr {
        border: 0.5px solid #877259;
        opacity: 0.3;
    }
}