.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: var(--secondary-bg-color);
}

.nav-logo{
    size: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    font-size: 38px;
    font-weight: bold;
    color: #372414;
    text-shadow:#775a42 2px 2px 4px;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    color: #0b0b0b;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    gap: 3px;
}

.nav-menu li a{
    color: #372414;
    text-decoration: none;
}

.nav-menu hr{
    border: none   ;
    height: 3px;
    width: 80%;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 2px solid #877259;
    border-radius: 75px;
    color: #372414;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ecdfce;
}

.nav-login-cart button:active{
    background-color: #825a3c;
    color: #ffffff;
    border: none;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

@media (max-width: 768px) {
    .navbar{
        padding: 0;
        padding-top: 0;
        gap: 0;
    }

    .nav-logo{
        size: 20px;
    }

    .nav-logo p{
        font-size: 10px;
    }

    .nav-menu{
        font-size: 15px;
        gap: 20px;
        margin-top: 100px;
        margin-left: 0;
    }

    .nav-login-cart{
        gap: 30px;
        padding-left: 0;
        margin-left: 10px;
        
    }

    .nav-login-cart button{
        width: 55px;
        height: 30px;
        font-size: 10px;
    }
}