.intro-section{
    width: 100%;
    padding: 20px;
    background: var(--secondary-bg-color);
    text-align: center;
}

.intro-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
    padding: 0 20px;
}

.intro-item{
    flex: 1;
    text-align: left;
}

.intro-item h2{
    color: #372414;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 35px;
}

.intro-item p{
    color: #372414;
    line-height: 1.6;
    font-size: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
.advantage-row{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
}

.advantage-row img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.advantage-row h3{
    font-size: 22px;
    font-weight: 600px;
    color: #814f26;
    margin-bottom: 10px;
}

.advantage-row p{
    font-size: 18px;
    color: #372414;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .intro-item h2{
        font-size: 25px;
        margin-bottom: 10px;
    } 
    
    .intro-item p {
        font-size: 15px;
    }

    .advantage-row img{
        width: 90px;
        height: 90px;
    }

    .advantage-row h3{
        font-size: 15px;
        margin-top: 10px;
    }

    .advantage-row p{
        font-size: 15px;
    }
}