.inspo{
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.inspo h1{
    color: #372414;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.inspo hr{
    width: 150px;
    height: 6px;
    border-radius: 10px;
    background: #986337;
    margin-top: 5px;
    margin-bottom: 10px;
}

.inspo-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1280px;
    padding: 0 20px;
    margin-top: 0px;
    margin: 0px auto;
}

.transition-item{
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.transition-item img{
    transition: transform 0.3s ease-in-out;
}

.transition-item:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.transition-item:hover img{
    transform: rotateZ(1deg);
}

.inspo-filters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 960px;
    gap: 20px;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.image-filter-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none; 
    border: none; 
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

.filter-icon {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 8px; 
    border: 3px solid transparent;
    transition: all 0.3s ease-out, box-shadow 0.3s;
}

.image-filter-button p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #372414;
    transition: transform 0.3s ease-out, opacity 0.3s;
}

.image-filter-button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.back-button{
    width: 200px;
    height: 58px;
    outline: none;
    margin-top: 20px;
    padding: 10px 15px;
    background: none;
    border: 2px solid #877259;
    border-radius: 75px;
    color: #372414;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ecdfce;
    padding-top: 10px;
    padding-bottom: 10px;
}

.back-button:active{
    background-color: #825a3c;
    color: #ffffff;
    border: none;
}

@media (max-width: 768px) {
    .inspo h1{
        font-size: 24px;
    }
}