.inspo{
    padding-top: 150px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.inspo h1{
    color: #372414;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
}

.inspo hr{
    width: 150px;
    height: 6px;
    border-radius: 10px;
    background: #986337;
    margin-top: 5px;
    margin-bottom: 20px;
}

.inspo-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1280px;
    padding: 0 20px;
    margin-top: 0px;
    margin: 0px auto;
}

