.product-page{
    padding: 40px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.product-details-container{
    display: flex;
    gap: 50px;
}

.product-image{
    width: 50%;
}

.main-image{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product.info{
    width: 50%;
}

.product-info h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.product-info .price{
    font-size: 1.8rem;
    color: #cc0000;
    margin-bottom: 20px;
    font-weight: bold;
}

.add-to-cart-btn{
    padding: 15px 30px;
    background-color: #588D4E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px;
}

