.hero{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.hero img{
    transition: transform 0.2s ease-in;
}

.hero:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2)
}

.hero:hover img{
    transform: rotateZ(1deg);
}

.hero-title {
    text-align: center;
    color: rgb(108, 82, 52);
    font-size: 4rem;
    margin: 20px 0 10px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero-subtitle {
    text-align: center;
    color: rgb(84, 103, 69);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero h1 {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero p {
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .hero-title{
        font-size: 30px;
    }

    .hero-subtitle{
        font-size: 20px;
    }

    .hero {
        width: 100%;
        height: 150px;
    }
}