.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #372414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(219, 218, 216);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --primary-color: #588D4E;
  --secondary-bg-color: #fbeec8;
  --accent-color: #CC0000;

  --text-color-dark: #1A1A1A;
  --content-bg-color: #e5cac4;
}

body{
  background-color: var(--secondary-bg-color);
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  padding: 0;
}

#root, .app-container{
  margin: 0 auto;
  background-color: var(--secondary-bg-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}